b:hover {
    color: red;
}
#img {
    background-image: url("https://themewagon.github.io/famms/images/arrival-bg.png");
    height: 600px;
    width: 2300px;
    background-repeat: no-repeat;
    background-position: absolute;

}
#footer {
    background-color: #000137;
}
li:hover {
    color: red;
}
